.SideText{
    .UpperText{
        font-family: 'Abhaya Libre', serif;
        color: #3D3535;
        .span{
            font-family: 'Quicksand', sans-serif;
        }
    }
    .LowerText{
        font-family: 'Quicksand', sans-serif;
        color: #BD9190;
    }
}