$input-placeholder-color:               #c2b0b0;
$input-color:                           #3D3535;
$input-border-color:                    #BD9190;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";


